<div id="title">
    <h1 class="font-weight-bold text-monospace">{{title}}</h1>
    <h2 class="font-weight-bold">{{subtitle}}</h2>
    <h2 class="font-weight-bold">{{subtitle2}}</h2>
    <p class="lead font-weight-normal">{{email}}</p>
</div>

<article class="about">
    <h2>Sobre Mi</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. In reprehenderit atque, nesciunt distinctio odio mollitia ab eum porro quaerat saepe quae nobis. Quaerat officiis qui, esse perferendis officia voluptate deleniti?
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. In reprehenderit atque, nesciunt distinctio odio mollitia ab eum porro quaerat saepe quae nobis. Quaerat officiis qui, esse perferendis officia voluptate deleniti?
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. In reprehenderit atque, nesciunt distinctio odio mollitia ab eum porro quaerat saepe quae nobis. Quaerat officiis qui, esse perferendis officia voluptate deleniti?
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. In reprehenderit atque, nesciunt distinctio odio mollitia ab eum porro quaerat saepe quae nobis. Quaerat officiis qui, esse perferendis officia voluptate deleniti?
    </p>
</article>