<div class="container" *ngIf="project">
    <h2>{{title}}</h2>

    <div class="row d-flex justify-content-center">
        <div class="message col-md-6 col-md-offset-3 d-flex justify-content-center success text-center" *ngIf=" status=='success'">
            El Proyecto se ha creado correctamente, puedes <a [routerLink]="['/proyecto', saveProject._id]"> verlo aqui.</a>
        </div>
        <div class="message col-md-6 col-md-offset-3 col-center failed text-center" *ngIf="status=='failed'">
            El Proyecto NO SE HA PODIDO CREAR
        </div>
    </div>

    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <div class="row">
            <div class="form-group col-md-6 col-center">
                <label class="font-weight-bold" for="name">Nombre</label>
                <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="project.name" required>
                <span class="form_error" *ngIf="name.touched && !name.valid">
                    El nombre es obligatorio
                </span>
            </div>

            <div class="form-group col-md-6 col-center">
                <label class="font-weight-bold" for="description">Descripcion</label>
                <textarea name="description" class="form-control" #description="ngModel" [(ngModel)]="project.description" required></textarea>
                <span class="form_error" *ngIf="description.touched && !description.valid">
                    La descripcion es obligatoria
                </span>
            </div>

            <div class="form-group col-md-6 col-center">
                <label class="font-weight-bold" for="category">Categoria</label>
                <input type="text" class="form-control" name="category" #category="ngModel" [(ngModel)]="project.category" required>
                <span class="form_error" *ngIf="category.touched && !category.valid">
                    La categoria es obligatoria
                </span>
            </div>

            <div class="form-group col-md-6 col-center">
                <label class="font-weight-bold" for="year">Año de Lanzamiento</label>
                <input type="number" class="form-control" name="year" #year="ngModel" [(ngModel)]="project.year" required>
            </div>

            <div class="form-group col-md-6 col-center">
                <label class="font-weight-bold" for="langs">Lenguajes Utilizados</label>
                <input type="text" class="form-control" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required>
                <span class="form_error" *ngIf="langs.touched && !langs.valid">
                    El lenguaje es obligatorio
                </span>
            </div>



            <div class="form-group col-md-6 col-center">
                <label class="font-weight-bold" for="image">Imagen del Proyecto</label>
                <div class="imagen" *ngIf="project.image">
                    <img src="{{url+ 'get-image/' + project.image}}" class="card-img-top imagen" *ngIf="project.image">
                    <br>
                    <br>
                </div>
                <input type="file" class="form-control-file font-weight-bold" name="image" placeholder="Subir Imagen" (change)="fileChangeEvent($event)">
            </div>
        </div>

        <div class="form-group col-center">
            <input type="submit" class="btn btn-dark btn-block font-weight-bold" [disabled]="!projectForm.form.valid" value="Enviar">
        </div>


    </form>
</div>