@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/*ESTILOS GENERALES*/

body {
    text-shadow: 0 .08rem .3rem rgba(255, 255, 255, 0.5);
    background: url("../src/assets/img/pattern.png");
    background-attachment: fixed;
}


/*BARRA DE NAVEGACION/CABECERA*/

header nav {
    display: block;
    width: 100%;
    background: #04183fe1;
    position: fixed;
    text-transform: uppercase;
    border-bottom: 3px solid #020b1d;
}

.clearfix {
    float: none;
    clear: both;
}

header ul {
    display: block;
    height: inherit;
    margin: -3px auto 0 auto;
    text-align: center;
    margin-top: -13px;
}

header ul li {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 70px;
}

header a {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

header a:hover,
.actived {
    text-decoration: none;
    color: rgb(168, 168, 168);
    transform: scale(1.15, 1.15);
    text-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.5);
}


/*LOGOTIPO*/

#logo {
    font-size: 50px;
}

#logo a {
    transition: transform 500ms;
}

header #logo a:hover {
    background: transparent;
    transform: scale(1.25, 1.25);
    text-shadow: 0 .2em .4rem rgba(0, 0, 0, 0.5);
}


/* CONTENEDOR PRINCIPAL */

#content {
    min-height: 600px;
    height: auto;
    width: 70%;
    margin: 0px auto;
    box-shadow: 0px 0px 100px black;
    background: rgba(255, 255, 255, 0.9);
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-shadow: 4px 4px 4px #aaa;
    font-weight: bolder !important;
}


/* FOOTER */

footer {
    width: 70%;
    margin: 0px auto;
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.9);
}


/* SOBRE MI */

#title {
    width: 50%;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 50px;
}

#title h1 {
    font-size: 40px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    text-shadow: 0 .2em .4rem rgba(0, 0, 0, 0.5);
    transition: all 300ms;
}

#title h1:hover {
    transform: scale(1.1, 1.1);
    text-shadow: 0 .2em .4rem rgba(0, 0, 0, 0.5);
}

#title h2 {
    font-size: 25px;
    color: rgb(54, 57, 98);
    text-shadow: 4px 4px 4px rgba(33, 21, 100, 0.435);
}

article.about {
    width: 80%;
    margin: 0px auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.about h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}


/* SECCION DE FORMULARIO */

.container {
    padding: 50px;
    padding-top: 0px;
}

.container h2 {
    display: block;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.container h3 {
    font-size: 20px;
}

.form_error {
    color: #b61a1a;
    font-weight: bold;
}

form input[disabled] {
    cursor: not-allowed;
}

.message {
    float: none;
    margin: 0 auto;
    padding: 5px;
    font-weight: bolder;
    margin-bottom: 5px;
    border: 2px solid black;
    text-shadow: 0 .2em .20rem rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.message a {
    color: black;
    font-weight: bold;
}

.message a:hover {
    color: black;
    opacity: 85%;
    text-decoration: none;
}

.success {
    background: green;
    color: white;
}

.failed {
    background: red;
    color: white;
}

.card {
    min-width: 300px !important;
    min-height: 315px !important;
}

.btn {
    color: white !important;
}